#Git
.git 
.gitignore

#Docker
.docker

#Python
app/__pycache__
app/*/__pycache__
app/*/*/__pycache__/
app/*/*/*/__pycache__/
backend/auth_user_service/.env/
.venv/
venv/

#Node
#node_modules
build
.dockerignore
Dockerfile
npm-debug.log

